.container {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 1rem 1rem 1rem 1rem;
    border: 1px solid black;
    border-radius: 10px;
    /* justify-content: first baseline; */
    /* background-color: rgb(61, 58, 58); */
}

.image {
    width: auto;
    height: 10.5vw;
    border-radius: 10px 10px 10px 10px;
}

.imageContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
 
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0.5rem;
    /* background-color: white; */
    
 
}